:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth !important;
  @apply font-sans bg-black text-white;
}

a {
  text-decoration: inherit;
  @apply relative text-white dark:text-black font-normal;
}
.navlink {
  --link-scale-x: 0%;
}

.navlink::before {
  content: '';
  height: 1px;
  @apply bg-white dark:bg-black block absolute bottom-0 w-full
  transition-transform duration-300 ease-in-out -z-0 content
  -left-1;
  transform: scaleX(var(--link-scale-x));
  transform-origin: left;
}

.navlink:hover {
  --link-scale-x: 110%;
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  @apply font-extrabold font-title;
}

h1 {
  @apply text-4xl leading-relaxed tracking-tighter;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #010816;
    background-color: #ffffff;
  }
  a:hover {
    color: #102030;
  }
}
